body{
    background: #e6e6e6;
    font-family: arial, sans-serif;
}
.login{
    width: 400px;
    margin: 10% auto;
}
.login input{
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    color: #777;
    border: solid 2px #c5c4c9;
    font-size: 18px;
    box-shadow: inset 0px 0px 3px #fff;
    background: #f1f0f5;
    box-sizing: border-box;
}
.login button, .bt-acessar a{
    text-decoration: none;
    padding: 15px 40px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
    border: none;
    background: #2faf85;
    color: #fff;
    border-radius: 5px;
    box-shadow: inset 0 0 4px #e8fcf5;
}
.bt-acessar{
    text-align: center;
    margin-top: 40px;
}
.login button:hover{
    background: #144636;
    cursor:pointer;
}
.login h3{
    text-align: center;
    font-size: 32px;
    color: #777;
    text-shadow: 1px 1px 2px #fff;
    font-family: arial, sans-serif;
}
.admin{
    margin: 0 auto;
    max-width: 1080px;
}
.admin h1{
    color:#2faf85;
}
.admin p{
    font-size: 18px;			
}
.sair{
    padding: 10px 20px;
    color: #fff;
    background: #c1465d;
    text-decoration: none;
    border-radius: 5px;
}